<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  Name: <input type="text" name="name"><br>
  Year Completed: <input type="integer" name="year_completed">
  <input type="submit" value="Create">
</form>
